@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import './utils/mixin';
@import './blocks/navbar';
@import './blocks/section-1';
@import './blocks/section-2';
@import './blocks/section-3';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #1D232A;
    overflow-x: hidden;
    user-select: none;
    
}

main {
    display: flex;
}

.sections {
    padding: 8px 16px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 440px 270px;
    gap: 16px;
}

.section-1 {
    grid-column: span 6;
}

.section-2 {
    grid-column: span 2;
}

.section-3 {
    grid-column: 1 / -1;
}

.section-1 {
    background:#E7CA33;
    border-radius: 16px;
}

.section-2 {
    background: #2C343A;
    border-radius: 16px;
}