@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
aside {
  width: 200px;
  height: 100vh;
  background-color: #15191C;
  text-align: center;
  padding-top: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  color: #95999C;
}

i {
  color: #95999C;
  width: 40px;
  text-align: center;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: star;
      -ms-flex-pack: star;
          justify-content: star;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

li span {
  width: 8px;
  height: 48px;
  background-color: transparent;
}

li:hover a {
  color: white;
}

li:hover i {
  color: white;
}

li:hover span {
  background-color: white;
}

.section-2 {
  padding: 24px;
}

.section-2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.section-2 .info h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.section-2 .info p {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #0480DC;
}

.scroll-hidden {
  height: 90%;
  overflow-y: scroll;
}

.scroll-hidden::-webkit-scrollbar {
  width: 8px;
}

.scroll-hidden::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}

#malumotlar li {
  margin: 16px 0;
}

#malumotlar li img {
  margin-right: 16px;
}

#malumotlar li h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

#malumotlar li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #95999C;
  margin-top: 6px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #1D232A;
  overflow-x: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sections {
  padding: 8px 16px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 440px 270px;
      grid-template-rows: 440px 270px;
  gap: 16px;
}

.section-1 {
  grid-column: span 6;
}

.section-2 {
  grid-column: span 2;
}

.section-3 {
  grid-column: 1 / -1;
}

section {
  background: #2C343A;
  border-radius: 16px;
}
/*# sourceMappingURL=main.css.map */